.nav {
  background-color: #F1F1F1;
  border-radius: 10px;
  padding-bottom: 10px;
  margin-bottom: 55px;
}

.nav__title {
  font-weight: 700;
  font-size: 44px;
  padding-top: 28px;
  padding-left: 45px;
  padding-bottom: 25px;
}

.nav-list {
  padding-left: 70px;
}

.nav-list__item {
  color: #02535F;
}

.nav-list__item:not(:last-child) {
  padding-bottom: 10px;
}

.nav-link {  
  display: inline-block;
  border-bottom: 1px solid #000000;
}